footer
  a(href="http://devnaftan.com/", target="_blank").logo--footer
    figure.logo__image.logo__image--footer
      img(src="./assets/images/dev-naftan_logo.png", alt="Logo")
    span.logo__title DevNaftan
  .reference-data.reference-data--footer
    include ./_reference_data.pug