p 
  strong API: 
  a(href="https://covid19api.com/", target="_blank") Coronavirus COVID19 API
p
  strong Data Source: 
  a(href="https://systems.jhu.edu/research/public-health/ncov/", target="_blank") Johns Hopkins CSSE
p
  strong Contributions: 
  a(href="mailto:x.X.Naftan.X.x@gmail.com", target="_blank") Contact me