-var web_icons = ['favicon.ico']
-var menu_icons = ['icofont-navigation-menu', 'icofont-close']
-var menu_items = ['Symptoms', 'Precautions', 'Scientific advances', 'Contagions map','About the WebApp']
-var data_colors = ['cured', 'infected', 'death']

mixin data(data_color)
  <p>12345 (<span class='#{data_colors[data_color]}'>+1000</span>)</p>